<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Hanaa</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	
	<link href="../static/css/ionicons.css" rel="stylesheet">
	
	<link href="../static/css/fluidbox.min.css" rel="stylesheet">
	
	<link href="../static/css/styles.css" rel="stylesheet">
	
	<link href="../static/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<section class="intro-section">
		<div class="container">
		
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
					
							<div class="right-area">
								<h5>Location</h5>
								<h5>Palestine, Gaza, Beach Camp, Youssef Al-Adhamh St.</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							
							<div class="right-area">
								<h5>Phone number</h5>
								<h6>+00970 0595082939</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							
							<div class="right-area">
								<h5>Email</h5>
								<h6>hanaa2002hana@gmail.com</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
		
			<div class="intro">
				<div class="row">
				
					<div class="col-sm-8 col-md-4 col-lg-3">
						<div class="profile-img margin-b-30"><img src="../static/profile-1-250x250.jpg" alt=""></div>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-5 col-lg-6">		
							<h2><b>Hanaa Zaqout</b></h2>
							<h4 class="font-yellow">Math lover and  </h4>
							<h4 class="font-yellow" style="text-indent: 5em;">creative programmer </h4>
							<ul class="information margin-tb-30">
								<li><b class="font-yellow"></b></li>
								<li><b class="font-yellow"></b> </li>
								<li><b class="font-yellow"></b>  </li>
							</ul>
							<!--<ul class="social-icons">
								<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="ion-social-instagram"></i></a></li>
								<li><a href="#"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							</ul>-->
					</div><!-- col-sm-8 -->
					
					<!--<div class="col-sm-10 col-md-3 col-lg-3">
						<a class="downlad-btn" href="#">Download CV</a>
					</div>--><!-- col-lg-2 -->
			
				</div><!-- row -->
			
			</div><!-- intro -->
		</div><!-- container -->
	</section><!-- intro-section -->
		 <section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading ">
						<h3><b>About me</b></h3>
						<h6 class="font-lite-black"><b>In the following lines, I will tell you about my academic interests, experiences, challenges, and dreams, so you can understand what the Leonard Education Organization Scholarship means to me, and why I am a perfect fit.</b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
					<p>    The turning point in my life was my first day in the Code for Palestine Program when I realized how important English and coding skills are. I had not programmed any line of coding before that day. Moreover, I could not ask the American instructors questions because I was afraid to make grammatical mistakes in front of all these new people. As I will show you, the coding and Design Thinking skills I learned there were only the first step.
					</p>
				<br>
				<a href="/read" target="_blank" style="margin:auto;"><button type="button" class="btn btn-warning">Complete reading </button></a>
			
			</div>
	</div>
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading ">
						<h3><b>Skills</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				<div class="col-sm-12 col-md-6">
					<p class="margin-b-30">1_ Programming languages:  Python, CSS, HTML, Javascript, and Ionic<br>
2_ Twitter Data Mining: Big Data Analytics Using Python<br>
3_ High level in Mathematics: Algebra, Engineering, and Trigonometry
</p>
				</div><!-- col-sm-6 -->
				<div class="col-sm-12 col-md-6">
					<p class="margin-b-50">4_ Languages: native Arabic and fluent English<br>
5_ Design Thinking, leadership and teamwork skills
</p>
				</div><!-- col-sm-6 -->
							</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
				<section class="radial-progress-section section">
		<div style="width:1100px;height:200px;"class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".95">
							<div></div>
							<h6 class="progress-title">HTML5 & CSS3</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
			
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".80">
							<div></div>
							<h6 class="progress-title">Javascript</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".90">
							<div></div>
							<h6 class="progress-title">Python</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-50">
						<div class="radial-progress" data-prog-percent=".75">
							<div></div>
							<h6 class="progress-title">Ionic</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
			
			</div><!-- row -->
		</div><!-- container -->
	</section>
				
				

	

	<section class="experience-section section center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h3><b>Education</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12">
					<div class="experience margin-b-50 hello">
						<h4><b>11th Grade (scientific route)</b></h4>
						<h5 class="font-yellow"><b>Kafr Kassem Secondary School</b></h5>
						<h6 class="font-lite-black margin-t-10">2018 - 2019</h6>
						<p class="margin-tb-30">Average: 99.9% </p>
						
						<ul class="list margin-b-30">
							<li><a href="/cer11" target="_blank"><button type="button" class="btn btn-warning">Show the certificate </button></a></li>
							<!--<li><span>Quis consequat nulla effi citur at.</span></li>
							<li><span>Sed finibus aliquam neque sit.</span></li>-->
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50 hello">
						<h4><b>10th Grade</b></h4>
						<h5 class="font-yellow"><b>Kafr Kassem Secondary School</b></h5>
						<h6 class="font-lite-black margin-t-10">2017 - 2018</h6>
						<p class="margin-tb-30">Average: 99.2% </p>
						
						<ul class="list">
							<li><a href="/cer10" target="_blank">
							<button type="button" class="btn btn-warning">Show the certificate </button></button></a>
						</li>
							<!--<li><span>Quis consequat nulla effi citur at.</span></li>
							<li><span>Sed finibus aliquam neque sit.</span></li>-->
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- experience-section -->
	
	<section class="portfolio-section section center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h3><b>Experiences</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
					<div class="experience margin-b-50">
						<h4><b>Intel International Science and Engineering Fair</b></h4>
						
						<h6 class="font-lite-black margin-t-10">January 2019 -April 2019</h6>
						<br>
						
						<ul class="list">
							<li><a href="https://github.com/hanazaq/book-Anaylsis-website" target="_blank"><button type="button" class="btn btn-warning">Project link </button></button></a></li>
							<li><span>Dealt with huge data from social media then represented it by charts in a web page (using Data Analysis science)</span></li>
							<li><span>Studied new libraries by self learning e.g. Numpy, Pandas, Tweepy and Chart.js</span></li>
							<li><span>Worked under pressure for a total of 450 hours</span></li>
							<li><div class="container" style="overflow: hidden;width: 75%;">
   
							  <div id="myCarousel" class="carousel slide" data-ride="carousel">
							    <!-- Indicators -->
							    <ol class="carousel-indicators">
							      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							      <li data-target="#myCarousel" data-slide-to="1"></li>
							      <li data-target="#myCarousel" data-slide-to="2"></li>
							      <li data-target="#myCarousel" data-slide-to="3"></li>
							    </ol>

							    <!-- Wrapper for slides -->
							    <div class="carousel-inner">
							      <div class="item active">
							        <img src="../static/0.png" alt="" style="width:100%;">
							      </div>

							      <div class="item">
							        <img src="../static/1.png" alt="" style="width:100%;">
							      </div>
							    
							      <div class="item">
							        <img src="../static/2.png" alt="" style="width:100%;">
							      </div>
							    
							     <div class="item">
							        <img src="../static/3.png" alt="" style="width:100%;">
							      </div>
							    </div>
							    <!-- Left and right controls -->
							    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
							      <span class="glyphicon glyphicon-chevron-left"></span>
							      <span class="sr-only">Previous</span>
							    </a>
							    <a class="right carousel-control" href="#myCarousel" data-slide="next">
							      <span class="glyphicon glyphicon-chevron-right"></span>
							      <span class="sr-only">Next</span>
							    </a>
							  </div>
							</div></li>	
						</ul>
					</div>
						<div class="experience margin-b-50">
						<h4><b>English Access Microscholarship Program</b></h4>
						<h5 class="font-yellow"><b>Amideast-Gaza  </b></h5>
						<h6 class="font-lite-black margin-t-10">January 2018 - Present</h6>
		
						
						<ul class="list">
					
							<li><span>Practice English skills (listening, reading, writing and speaking)</span></li>
							<li><span>Enhance leadership and public speaking skills </span></li>
							<li><span>Volunteer in community service </span></li>
							<li><span>Discover other cultures  </span></li>
						</ul>
					</div>


						<div class="experience margin-b-50">
						<h4><b>Code for Palestine</b></h4>
						<h5 class="font-yellow"><b>Paltel Group Foundation-Gaza </b></h5>
						<h6 class="font-lite-black margin-t-10"> July 2017 - Present</h6>
						<br>
						
						<ul class="list">
							<li><a href="https://dentist-advice.herokuapp.com/" target="_blank"><button type="button" class="btn btn-warning">Work sample </button></button></a></li>
							<li><span>Learn programming languages: Python, CSS, HTML, Javascript, and Ionic 
						</span></li>
						
						<li><span>Think out of the box, be creative and communicate effectively with team members as a part of Design Thinking classes </span></li>
							
							<li><span>Apply programming in understanding school subjects e.g. I programmed mathematical equations drawer</span></li>
							<li><span>Involve in debates  </span></li>
							
						</ul>
					</div>

		<div class="experience margin-b-50">
						<h4><b>Discovery Camp</b></h4>
						<h5 class="font-yellow"><b>Amideast-Gaza  </b></h5>
						<h6 class="font-lite-black margin-t-10">July 2013 - August 2013</h6>
		
						
						<ul class="list">
					
							<li><span>Developed my English language level</span></li>
							<li><span>Learned how to be an active member in my team</span></li>
							<li><span>Acted in a play and developed my communications skills
 							</span></li>
							
						</ul>
					</div>

				</div> <!-- col-sm-12 -->
			</div>
			</div>
			</section>	

	
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading">
						<h3><b></b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12">
				
					<div class="education-wrapper margin-b-50">
						<div class="education right">

							<h4><b>Math Club</b></h4>
							<h6 class="font-lite-black margin-t-10">Primary school - April 2019 </h6>
							<h5 class="font-yellow"><b>My achievement in the Club:</b></h5>
							<p class="margin-t-30">participated in seven math local competitions and won first places</p>
						</div><!-- education -->
						


						<div class="education left">
							<h4><b>Science Club</b></h4>
							<h6 class="font-lite-black margin-t-10">September 2016 - April 2019</h6>
							<h5 class="font-yellow"><b>My achievements in the Club:</b></h5>
							<p class="margin-t-30">Made shampoo in a scientific local fair
								<br>
							Participated in the examination of the blood type under the microscope in my school fair </p>
						</div><!-- education -->
						                             


						<div class="education right">
							<h4><b>Languages</b></h4>
							<h5 class="font-yellow"><b>Native Arabic <br>Fluent English:</b></h5>
							
							<p class="margin-t-30">Completed highest level of English Discoveries website and Amideast <br>
Scored 785 at TOEFL Junior on 21-June-2018 </p>
						</div><!-- education -->

						<div class="education left">
							<h4><b>Voluntary work</b></h4>
							<p class="margin-t-30">Volunteered in organizing Startup Weekend For Kids-Gaza, a three days event, where kids (9-14 years old) build their own technological projects in August 2018
								<br>
							Started a technology club at my high school</p>
						</div><!-- education -->

						<div class="education right">
							<h4><b>Hobbies</b></h4>
							<h5 class="font-yellow"><b>Playing Chess</b></h5>
							<p class="margin-t-30">Participated in two chess tournament and won the second and first places in 2017-2018</p>
							<h5 class="font-yellow"><b>Drawing</b></h5>
							<p class="margin-t-30">My drawing about human rights won the first place in a local competition in 2015</p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- education-section -->
	
	
	<section class="quoto-section center-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="font-yellow"><b>There is no secret to success</b></h3>
					<h3><b>It is the result of preparation, <span class="font-yellow">Hard work</span>,
					and learning from your failures.</b></h3>
				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- quoto-section -->
	 <section class="portfolio-section section center-text">
		<div class="container">
			<div class="row">     
	       				<div class="col-sm-12">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>ALL</b></a>
						<a href="#" data-filter=".web-design"><b>Coding</b></a>
						<a href="#" data-filter=".branding"><b>Drawing</b></a>
						<a href="#" data-filter=".graphic-design"><b></b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
			
			<div class="portfolioContainer margin-b-50">
				
				<div class="p-item web-design">
					<a href="../static/4.png" data-fluidbox>
						<img src="../static/4.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item web-design">
					<a href="../static/5.png" data-fluidbox>
						<img src="../static/5.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item web-design">
					<a href="../static/6.png" data-fluidbox>
						<img src="../static/6.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item web-design">
					<a class="img" href="../static/7.png" data-fluidbox>
						<img src="../static/7.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item web-design">
					<a href="../static/8.png" data-fluidbox>
						<img src="../static/8.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item  graphic-design branding">
					<a href="../static/konan.png" data-fluidbox>
						<img src="../static/konan.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item  graphic-design branding">
					<a href="../static/zoo.jpg" data-fluidbox>
						<img src="../static/zoo.jpg" alt=""></a>
				</div><!-- p-item -->
					
				<div class="p-item  graphic-design branding">
					<a href="../static/reme.png" data-fluidbox>
						<img src="../static/reme.png" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item  graphic-design branding">
					<a href="../static/tree.png" data-fluidbox>
						<img src="../static/tree.png" alt=""></a>
				</div><!-- p-item -->

				<div class="p-item  graphic-design branding">
					<a href="../static/win.png" data-fluidbox>
						<img src="../static/win.png" alt=""></a>
				</div><!-- p-item -->
			</div><!-- portfolioContainer -->
		</div><!-- container -->

</div>
	</section><!-- portfolio-section -->
	<section class="skills-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading">
						<h3><b> References</b></h3>
					</div>
				</div><!-- col-sm-12 -->
			
				<div class="col-sm-12 col-md-6" style="padding-left:120px;">
					<h4><b>Mr. Mohammad Saleem</b></h4>
					<h6 class="expert">Projects Manager at Paltel Group Foundation</h6>
					
					<p class="margin-tb-30">Email: Mohammad.saleem@paltelfoundation.ps</p>
						
					<h4><b>Mr. Baher Al Dhuba  </b></h4>
					<h6 class="expert">English teacher at Amideast_Gaza</h6>
					
					<p class="margin-tb-30">Email: Dbaher21@hotmail.com</p>
				</div><!-- col-md-6 -->
				
				<div class="col-sm-12 col-md-6">
					<h4><b>Mrs. Reeham Ghanima</b></h4>
					<h6 class="expert">Programming teacher at Code For Palestine</h6>
					
					<p class="margin-tb-30">Email: reeham93@gmail.com</p>
					<h4><b>Ms. Michelle Huang</b></h4>
					<h6 class="expert">Design Thinking mentor at Code For Palestine</h6>
					
					<p class="margin-tb-30">Email: mhuang19@stanford.edu</p>

				</div><!-- col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- skills-section -->
	
<!--###########-->

	<section class="quoto-section center-text" style="background-image: url('../static/end.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="height:100px;">
					
				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- quoto-section -->
	

	<!-- SCIPTS -->
	
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	
	<script src="../static/js/tether.min.js"></script>
	
	<script src="../static/js/bootstrap.js"></script>
	
	<script src="../static/js/isotope.pkgd.min.js"></script>
	
	<script src="../static/js/jquery.waypoints.min.js"></script>
	
	<script src="../static/js/progressbar.min.js"></script>
	
	<script src="../static/js/jquery.fluidbox.min.js"></script>
	
	<script src="../static/js/scripts.js"></script>
	
</body>
</html>