<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Hanaa</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	
	<link href="../static/css/ionicons.css" rel="stylesheet">
	
	<link href="../static/css/fluidbox.min.css" rel="stylesheet">
	
	<link href="../static/css/styles.css" rel="stylesheet">
	
	<link href="../static/css/responsive.css" rel="stylesheet">
	
</head>
<body>
<div style="border-style: solid; border-color: #FFAD01; padding-left:10%;padding-right:10%; padding-top:5%;padding-bottom:5%;margin:90px;">
	<h4>Dear Sir or Madam,</h4>
	<br>

	<p >In the following lines, I will tell you about my academic interests, experiences, challenges, and dreams, so you can understand what the Leonard Education Organization Scholarship means to me, and why I am a perfect fit.</p>
	<br>
	<p style="text-indent: 5em;">    The turning point in my life was my first day in the Code for Palestine Program when I realized how important English and coding skills are. I had not programmed any line of coding before that day. Moreover, I could not ask the American instructors questions because I was afraid to make grammatical mistakes in front of all these new people. As I will show you, the coding and Design Thinking skills I learned there were only the first step.</p>
	<br>
	<p style="text-indent: 5em;">    After that camp, I participated in the Access Microscholarship Program, practicing English skills (listening, reading, writing, and speaking) at a high level, volunteering in community service, discovering other cultures, and enhancing my leadership, teamwork, and public speaking skills. As a result, I am not afraid anymore to present my ideas for half an hour in fluent English, as I know how to use eye contact, body language, intonation, and how to make the content relevant to the audience.</p>
	<br>
	<p style="text-indent: 5em;">Since then I've been constantly practicing my Python skills on new hard tasks and learning new libraries. As a result, I programmed two websites (using HTML, CSS, and Javascript), two games, and a mathematical equations drawer (using Python). Guess what? I am now studying people’s opinions about specific books on Twitter using data mining. I am analyzing data from Twitter by Python (using the Numpy, Pandas, Tweepy, and Flask libraries) then graphing it by charts on a web page (using HTML, CSS and the Chart.js library). What makes me really proud is that I learned this totally new and difficult topic online from scratch by googling questions then learning new libraries, tutorials, long studies and codes written by professional programmers from all over the world. What has helped me the most during my coding journey is my love for Mathematics and for the Design Thinking process, which help me solve conceptual problems.</p>
	<br>
	<p style="text-indent: 5em;">The whole experience that I went through gave me the opportunity to explore my ability to work under pressure, desire to learn, inner motivation for self-improvement and of course my passion for Computer Science.</p>
	<br>
	<p style="text-indent: 5em;">Studying Computer Science in the U.S., for me, means receiving a world-class education from the best people in their fields and keeping in touch with the latest advancements in the world of tech which will ensure a better future professionally and challenge me to keep learning and growing. Most importantly, I will know myself better by getting involved with the international community and meeting people from various backgrounds and cultures.</p>
	<br>
	<p style="text-indent: 5em;">As you can see, neither my fears nor my financial status have prevented me -- or will prevent me in the future -- from achieving my dreams, which include studying in the U.S.
	</p>
	<br>
	<p style="text-indent: 5em;">The Leonard Education Organization Scholarship is a key opportunity to study in the U.S. and to be the person that I aspire to be. I am looking forward to keeping in touch and hearing good news from you. I believe in myself as a strong, independent, and optimistic person and all I need is to get the chance to prove it.</p>
	<br>
	<h4>Sincerely,

</h4>
<h4>Hanaa Zaqout</h4>

</div>



















		<!-- SCIPTS -->
	
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	
	<script src="../static/js/tether.min.js"></script>
	
	<script src="../static/js/bootstrap.js"></script>
	
	<script src="../static/js/isotope.pkgd.min.js"></script>
	
	<script src="../static/js/jquery.waypoints.min.js"></script>
	
	<script src="../static/js/progressbar.min.js"></script>
	
	<script src="../static/js/jquery.fluidbox.min.js"></script>
	
	<script src="../static/js/scripts.js"></script>
	
</body>
</html>